Title: Posts
---

<div class="container wrapper list">
    @Html.Partial("_Header")
    <h2 class="page-title">Posts</h2>
    <ul class="posts flat">
    @{
        foreach(IGrouping<int, IDocument> group in Model.DocumentList(Keys.PageDocuments)
            .Where(x => x.ContainsKey(BlogKeys.Published))
            .OrderByDescending(x => x.Get<DateTime>(BlogKeys.Published))
            .GroupBy(x => x.Get<DateTime>(BlogKeys.Published).Year)
            .OrderByDescending(x => x.Key))
        {
            @Html.Partial("_PostList", group);
        }

        <ul class="pagination">
            @if(Model.Bool(Keys.HasPreviousPage))
            {
                <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))" class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev page</span></a>
            }

            @if(Model.Bool(Keys.HasPreviousPage))
            {
                <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))" class="page-link" aria-label="Next"><span aria-hidden="true">Next page →</span></a>
            }
        </ul>
    }
    </ul>
</div>