<ul class="list-unstyled">
    <li><a href="https://twitter.com/ripleywopr"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="https://github.com/niteshrestha"><i class="fa fa-github"></i> GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/niteshrestha/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="mailto:hello@niteshrestha.com.np"><i class="fa fa-envelope"></i> Email</a></li>
</ul>