Title: About Me
Image: /assets/images/mountain.jpg
---
<p>Hello, I'm Nitesh Shrestha!</p>
<p>I'm currently Junior Software Engineer at Braindigit IT Solutions focusing mainly on ASP.NET Core and SQL Server among other things.
    I also do cloud things on Azure. I was Microsoft Student Partner for 2015.</p>
<p>Find me at:</p>
@Html.Partial("_SocialLinks")