Title: About Me
Image: /assets/images/mountain.jpg
---
<p>Hello, I'm Nitesh Shrestha!</p>
<p>I'm currently .NET Developer Intern at Braindigit IT Solutions focusing on ASP.NET Core and SQL Server.
    I also do cloud things on Azure. I was Microsoft Student Partner for 2015.</p>
<p>Find me at:</p>
@Html.Partial("_SocialLinks")