<div class="container wrapper">
    @Html.Partial("_Header")
    <div class="post">
        <div class="post-header">
            <div class="meta">
                <div class="date">
                    <span class="day">25</span>
                    <span class="rest">Nov 2019</span>
                </div>
            </div>
            <div class="matter">
                <h1 class="title">About</h1>
            </div>
        </div>
        <div class="markdown">
            <p>Hey there, I'm Nitesh Shrestha!</p>
            <p>I am currently working at <a href='https://www.deerwalk.com/'>Deerwalk Inc</a> as Software Engineer. I am currently working on building healthcare solutions. I
            have experience building web services using .NET and SQL Server among other things. I also do cloud things on Azure.</p>
            <p>I was Microsoft Student Partner for 2015, Microsoft Youthspark Advocate.</p>
        </div>
    </div>
</div>